<div class="flex flex-col justify-center items-center mt-4">
  <h1 class="text-2xl font-semibold">Learn Angular: Main Application</h1>
  <ul class="menu menu-sm bg-base-200 w-56 rounded-box my-2">
    <li><a routerLink="app1/home">Application 1 - Home</a></li>
    <li><a routerLink="app1/about">Application 1 - About</a></li>
    <li><a routerLink="app1/counter">Application 1 - Counter</a></li>
    <li><a routerLink="app2/home">Application 2 - Home</a></li>
    <li><a routerLink="app2/about">Application 2 - About</a></li>
  </ul>
</div>
<div class="p-2">
  <router-outlet></router-outlet>
</div>